<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flex Panels 💪</title>
    <link rel="stylesheet" href="/stylesheets/flex-panels.css">
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
</head>

<body>
    <a href="/">Home</a>
    <div class="panels">
        <div class="panel panel1">
            <p>Sometimes</p>
            <p>Life Can</p>
            <p>Be Hard</p>
        </div>
        <div class="panel panel2">
            <p>Challenges can</p>
            <p>Break you</p>
            <p>or Make you</p>
        </div>
        <div class="panel panel3">
            <p>Learn to</p>
            <p class="multi-color">Embrace</p>
            <p class="add-color">the Pain</p>
        </div>
        <div class="panel panel4">
            <p class="add-color">Treasure</p>
            <p class="add-color">Your</p>
            <p class="add-color">Scars</p>
        </div>
        <div class="panel panel5">
            <p class="add-color">Your</p>
            <p class="add-color">Next Challenge</p>
            <p class="add-color">Awaits</p>
        </div>
    </div>

    <script src="/javascripts/flex-panels.js" type="text/javascript"></script>

</body>

</html>