<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HTML5 Canvas</title>
    <link rel="stylesheet" href="/stylesheets/html5-canvas.css">
</head>

<body>
    <div class="header-container">
        <p>Just click and draw - <a class="home-btn" href="/">Home</a></p>
    </div>
    <canvas id="draw" width="800" height="800"></canvas>

    <script src="/javascripts/html5-canvas.js"></script>
</body>

</html>