<!DOCTYPE html>
<html>

<head>
    <title>
        Josh's Projects
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome to my Projects</h1>
            <p>This is a site I use to test out new things then. I leave them here as a showcase.</p>
            <p><a class="btn btn-success btn-lg" href="http://www.octojosh.guru" role="button">Back to Portfolio &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>City Search</h2>
                <img class="img-fluid img-thumbnail" src="/images/index-covers/city-search.JPG" alt="project image">
                <p>Build: JavaScript, HTML5, CSS3</p>
                <p>Description: Search form with JavaScript requests to State/City API.</p>
                <p><a class="btn btn-primary" href="/projects/city-search">City Search</a></p>
            </div>
            <div class="col-md-4">
                <h2>Video Player</h2>
                <img class="img-fluid img-thumbnail" src="/images/index-covers/video-player.JPG" alt="project image">
                <p>Build: JavaScript, HTML5, CSS3</p>
                <p>Customized HTML5 video player.</p>
                <p><a class="btn btn-primary" href="/projects/video-player">Video Player</a></p>
            </div>
            <div class="col-md-4">
                <h2>Css Variables</h2>
                <img class="img-fluid img-thumbnail" src="/images/index-covers/css-variables.JPG" alt="project image">
                <p>Build: JavaScript, HTML5, CSS3</p>
                <p>Description: Using Css variables to change the style on HTML page usig JavaScript.</p>
                <p><a class="btn btn-primary" href="/projects/css-variables" role="button">Css Variables</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Flex Panels</h2>
                <img class="img-fluid img-thumbnail" src="/images/index-covers/flex-panels.JPG" alt="project image">
                <p>Build: JavaScript, HTML5, CSS3</p>
                <p>Description: Css flex panel with some cool background images.</p>
                <p><a class="btn btn-primary" href="/projects/flex-panels">Flex Panels</a></p>
            </div>
            <div class="col-md-4">
                <h2>JS Clock</h2>
                <img class="img-fluid img-thumbnail" src="/images/index-covers/js-clock.JPG" alt="project image">
                <p>Build: JavaScript, HTML5, CSS3</p>
                <p>Description: Used JavaScript and Css to make a clock.</p>
                <p><a class="btn btn-primary" href="/projects/js-clock">JS Clock</a></p>
            </div>
            <div class="col-md-4">
                <h2>Drum Kit</h2>
                <img class="img-fluid img-thumbnail" src="/images/index-covers/drum-kit.JPG" alt="project image">
                <p>Build: JavaScript, HTML5, CSS3</p>
                <p>Description: I used JavaScript and some audio clips to make a drum kit.</p>
                <p><a class="btn btn-primary" href="/projects/drum-kit" role="button">Drum Kit</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Slide Scroll</h2>
                <img class="img-fluid img-thumbnail" src="/images/index-covers/slide-scroll.JPG" alt="project image">
                <p>Build: JavaScript, HTML5, CSS3</p>
                <p>Sliding images in on scroll. No 3rd party libraries just JavaScript.</p>
                <p><a class="btn btn-primary" href="/projects/slide-scroll">Slide Scroll</a></p>
            </div>
            <div class="col-md-4">
                <h2>HTML5 Canvas</h2>
                <img class="img-fluid img-thumbnail" src="/images/index-covers/html5-canvas.JPG" alt="project image">
                <p>Build: JavaScript, HTML5, CSS3</p>
                <p>Description: Doing some coding using HTML5 Canvas.</p>
                <p><a class="btn btn-primary" href="/projects/html5-canvas">HTML5 Canvas</a></p>
            </div>
            <div class="col-md-4">
                <h2>Check List</h2>
                <img class="img-fluid img-thumbnail" src="/images/index-covers/checkboxes.JPG" alt="project image">
                <p>Build: JavaScript, HTML5, CSS3</p>
                <p>Description: A cool click -shift- check list in JavaScript.</p>
                <p><a class="btn btn-primary" href="/projects/checkboxes" role="button">Check List</a></p>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-4">
                <h2>Wiki Search</h2>
                <img class="img-fluid img-thumbnail" src="/images/wiki-view/.JPG" alt="project image">
                <p>Build: JavaScript, HTML5, CSS3</p>
                <p>Description: Css flex panel with some cool background images.</p>
                <p><a class="btn btn-primary" href="/projects/wiki-view">Wiki Search</a></p>
            </div>
            <div class="col-md-4">
                <h2>HTML5 Canvas</h2>
                <img class="img-fluid img-thumbnail" src="/images/index-covers/html5-canvas.JPG" alt="project image">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-primary" href="/projects/html5-canvas">HTML5 Canvas</a></p>
            </div>
            <div class="col-md-4">
                <h2>Check List</h2>
                <img class="img-fluid img-thumbnail" src="/images/index-covers/checkboxes.JPG" alt="project image">
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus.
                </p>
                <p><a class="btn btn-primary" href="/projects/checkboxes" role="button">Check List</a></p>
            </div>
        </div> -->
</body>

</html>