<!DOCTYPE html>
<html>

<head>
    <title>
        Josh's Projects
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1>Welcome to my Projects</h1>
    <p>Project List:</p>
    <hr>
    <a href="/projects/city-search">City Search</a>
    <a href="/projects/array-work">Array Work</a>
    <a href="/projects/css-variables">Css Variables</a>
    <a href="/projects/flex-panels">Flex Panels</a>
    <a href="/projects/js-clock">JS Clock</a>
    <a href="/projects/drum-kit">Drum Kit</a>
</body>

</html>