<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>JS-CSS Clock</title>
    <link rel="stylesheet" href="/stylesheets/js-clock.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</head>

<body>

    <div class="clock-container">

        <h1 class="clock-header">JavaScript - Css Clock</h1>
        <a class="clock-header" href="/">**Home**</a>
        <div class="clock">
            <div class="clock-face">
                <div class="hand hour-hand"></div>
                <div class="hand min-hand"></div>
                <div class="hand second-hand"></div>
            </div>
        </div>
        <h2 class="time-money">TIME IS MONEY</h2>

    </div>
    <!-- clock-container -->
    <a href="/">Home</a>



    <script src="/javascripts/js-clock.js" type="text/javascript"></script>
</body>

</html>