html {
    background-color: lightgrey;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.heading {
    font-size: 2em;
    text-align: center;
}

.footer {
    text-align: center;
    font-size: 1.4em;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}

.warning {
    color: #7D3B3B;
}

.home-btn {
    color: #ffc600;
    padding: 10px;
    border: .4rem solid black;
    border-radius: .5rem;
    background: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    text-shadow: 0 0 .5rem black;
}

.home-btn:hover {
    color: #fff;
    text-decoration: none;
}